body {
    background-image: url(https://xatimg.com/image/UzlrUo6LBkJq.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    color:#464646;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    line-height:1.5em;
    font-weight:400;
    text-align:left;
    margin:0;
}
.container {
    position:relative;
    max-height: 100vh;
    z-index:500;
    margin:auto;
    width:calc(460px + 400px);
    height:auto;
}
.side {
    position: relative;
    z-index:150;
    width:300px;
    height:auto;
    display:flex;
    flex-wrap:wrap;
    align-content:flex-start;
    align-items:flex-start;
    justify-content:space-between;
    margin: auto;
}

.side-img {
    margin: 40vh 45%;
    width:100%;
    height:auto;
    margin-bottom:2px;
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
}

    .side-img img {
        background-color: none;
        width:100%;
        height:auto;
        border-radius:10px;
        box-shadow:inset 0px 0px 5px rgba(78, 78, 78, 0.1), 0px 0px 5px rgba(78, 78, 78, 0.1);
        border:0px solid #ffffff;
    }
    
    .side-img.img-half {
        width:calc(50% - 5px);
    }
    
    .side-img.img-1 {
        width:90px;
    }
    
        .side-img img:nth-of-type(2),
        .side-img img:nth-of-type(3) {
            display:none;
        }
        
            .img-3 img:nth-of-type(2),
            .img-3 img:nth-of-type(3) {
                display:block;
            }
        
        .img-3 img,
        .img-1 img {
            width:90px;
            height:90px;
        }

.side-text {
    border-radius:10px;
    box-shadow:0px 0px 5px rgba(78, 78, 78, 0.1);
    border:1px solid #ffffff;
    overflow:hidden;
    margin:auto;
}

    .side-text.desc-full {width:100%;}
    .side-text.desc-half {width:calc(50% - 5px);}
    .side-text.desc-third {width:190px;}
    .side-text.desc-quarter {width:240px;}

.side-desc {
    background-color: #fd8edb;
    width:110%;
    box-sizing:border-box;
    padding:20px;
}

#myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }